.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 92px 24px 96px;
}

.header__menu {
    display: block;
    margin: 44px 36px 39px 21px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    list-style: circle;
}

.header__link {
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    margin-left: 4px;
    color: #000000;
}

.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link_active .header__link {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    height: 100%;
}

.header__address {
    justify-self: end;
    align-self: center;
    margin-top: 5px;
    padding-right: 62.48px;
}

.address {
    display: block;
    columns: #000000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24.3px;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    position: relative;
    padding: 160px 50px 129px;
}

.aligned-text {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 127px;
    letter-spacing: 30px;
}

.aligned-text_center {
    text-align: center;
    line-height: 127px;
    letter-spacing: 30px;
}

.aligned-text_right {
    text-align: right;
    line-height: 112px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 51px;
}

.cover__description-text {
    margin-left: 78px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    word-spacing: 19px;
    text-transform: uppercase;
}

.bet-button {
    margin-right: 50px;
    border: 1px solid currentColor;
    padding: 12px 32px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    margin: 180px 24px 146px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    color: #000000;
}

/* Попробовал сделать список grid контейнером
.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 25px;
    list-style: none;
}*/

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 334px;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 334px;
    min-height: 563px;
}

.card-link {
    position: relative;
    z-index: -1;
    display: block;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 51px 40px 48px;
}

.card__title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFFFFF;
}

.card__text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
}

.about {
    margin: 146px 24px 180px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
}

.about__logo {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    background-color: #000000;
    height: 240px;
    width: 240px;
    border-radius: 50%;
}

.about__logo-image {
    justify-self: center;
    height: 114px;
    width: 148px;
}

.about__content {
    margin-top: 137px;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    color: #000000;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    padding-top: 100px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0cap;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 180px 50px 88px;
}

.footer__address {
    text-align: left;
}

.footer__menu {
    padding-left: 37px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: #000000;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-link_active .fooret__link {
    text-decoration: none;
}

.footer__social-list {
    color: #000000;
}

.footer__social-list-item {
    display: flex;
    gap: 48px;
}

.footer__social-link {
    display: block;
    height: 48px;
    width: 48px;
}

.footer__social-icon {
    height: 100%;
    width: 100%;
}